.footer__column-link {
  text-decoration: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  display: block;
  margin: 0 0 10px;
  transition: opacity 2s;
}

.footer__column-link:last-of-type {
  margin-bottom: 0;
}
.footer__column-link:hover {
  opacity: .25;
}
