.feynman {
  background-color: #f2f2f2;
  padding-top: 100px;
  position: relative;
  background-image: url(../../images/feinman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  height: 740px;
  background-position-x: left;
  background-position-y: bottom;
}
